:root {
  --ff-sans: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", sans-serif;

  --ff-serif: Georgia, Cambria, "Times New Roman", Times, serif;
  
  --ff-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

html, body {
  font-family: var(--ff-sans);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ff-sans  { font-family: var(--ff-sans); }
.ff-serif { font-family: var(--ff-serif); }
.ff-mono  { font-family: var(--ff-mono); }

b, strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

[class*="font-size"] {
  &[class*="--h1"] {
    font-size: 48px;

    @media only screen and (max-width: 800px) {
      font-size: 40px;
    }
  }
}

.katex {
  font-size: 1.12em !important;
}
