:root {
  // rainbow
  --rainbow-red: #d42d2d;

  // color-use
  --color-sig: var(--rainbow-red);

  --color-em: black;
  --color-main-trans: rgba(0, 0, 0, 0.72);
  --color-main: #474747;

  --color-sec: #858585;
  --color-main-trans: rgba(0, 0, 0, 0.48);

  --color-border-sec-trans: rgba(0, 0, 0, 0.08);
  --color-bg-main: white;
  --color-bg-sec: #f5f5f5;
  --color-bg-sec-trans: rgba(225, 225, 225, 0.04);
  --color-bg-darken: #EBEBEB
  --color-bg-darken-trans: rgba(225, 225, 225, 0.08);
}

html, body {
  color: var(--color-main);
}