:root {
  --spacing-max-content-width: 1440px;
  --spacing-content-padding-w: 48px;
  @media only screen and (max-width: 800px) {
    --spacing-content-padding-w: 24px;
  }
}

.channelContent {
  max-width: var(--spacing-max-content-width);
  margin: 0 auto;
  padding: 48px var(--spacing-content-padding-w);
  box-sizing: content-box;

  .main {
    padding: 48px 0;
    border-top: 1px solid var(--color-main);
  }
}

.article {
  font-family: var(--ff-serif);
  font-size: 18px;
  line-height: 1.75;
}